{% extends "wrapper.html" %}
{% load staticfiles %}
{% load personalpage_filters %}

{% block  content %}
<script type="text/javascript" src="{% static 'js/lk/pay_bcard.js' %}"></script>
<!-- HERE BE CONTENTS!!!! -->
<!-- refill -->
<div class="b-refill g-block">
    <!-- payment service -->
    <h3 class="color-gray">Услуги для оплаты</h3>
    <div class="l-select-service">
        {% for service, param in contracts_data.items %}
            <div class="l-select-service-item">
                <div class="purpose">
                    <div class="name">
                        <li type="circle"><label for="select-service-{{forloop.counter}}">{{param.commercial}} {% if service == 'ls' %}- сервис "СмотрЁшка"{% elif service == '24tv' %} - сервис "24ТВ" {% endif %}</label></li>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- /payment service -->
    <!-- payment sum -->
    <div class="b-amount">
        <h3>
            <span>Сумма (руб.):</span>
            <input value="0" input-filter="number" name="sum" id="isum" type="text">
        </h3>
    </div>
    <!-- /payment sum -->
    <!-- pay button -->
    <div class="b-refill-footer">
        <button id="ipay" class="g-btn btn-danger">Пополнить</button>
        <span id="ipay_msg"></span>
    </div>
    <!-- /pay button -->
</div>
    <!-- notification -->
<div class="b-notification g-block">
    <div class="row">
        Оповещение о поступлении платежа придет на мобильный телефон:
    </div>
    <div class="row">
        {% if personal_data.user_phone_main %}<span class="phone">{{personal_data.user_phone_main|phone_number}}</span> {% else %}  <span style="color: red;">укажите контакнтый номер</span> {% endif %}
        <a href="/profile_settings" class="btn-change">
            <i><img src="{% static 'images/i-cog-gray.png' %}" height="17" width="19" alt=""></i>
        <span>Изменить</span>
        </a>
    </div>
</div>
<!-- / notification -->
<!-- payment type -->
<div class="b-payment-type g-block">
    <span class="title">К оплате принимаются карты</span>
    <span class="cards"><img src="{% static 'images/logos-cards.png' %}" height="38" width="225" alt=""></span>
</div>
<!-- / payment type -->
<!-- Obsolete PSP selection dummy -->
<div id="ipay-tabs" class="hide">
    <ul><li class="ui-state-active" data-psp="alfabank"></li></ul>
</div><!-- HERE END CONTENTS!!!! -->
<!-- /Obsolete PSP selection dummy -->
<!-- Payment script -->
<script type="text/javascript">
    function psp_alfabank(data, button) {
        data.loading = [button];
        data.keepLoading = true;
        console.log("OUTPUT ===> ", data, "====> ", button);
        ajax_post('/pay_bcard/alfa', data, function(res_data) {
            if (res_data.success) {
                $('#ipay_msg').text('Подождите, пожалуйста. Перемещение на страницу оплаты...');
                location.href = res_data.location;
            } else {
                niceErr('Ошибка', res_data.err.text);
                button.removeClass('loading');
            }
        });
    }
</script>
<!-- /Payment script -->
{% endblock %}