@charset "utf-8";
body,html,ul li {
 position:relative
}
body,
table {
 width:100%
}
img,
table {
 border:none
}
.chevin-pro,
body,
button,
input,
select,
textarea {
 font-family:ChevinPro,Arial,Helvetica,sans-serif
}
.list-null,
body,
form,
ol,
ul {
 margin:0
}
body,
form,
ol,
p,
table tr td,
ul {
 padding:0
}
b,
h1,
h2,
h3,
strong {
 font-weight:600
}
.g-btn,
.item-radio .fake {
 -moz-transition:.2s;
 -o-transition:.2s
}
.g-btn,
a:hover {
 text-decoration:none
}
.b-gold-client:after,
.b-selected-packages .list .row:after,
.cb,
.clearfix:after,
.content-wrapper:after,
.form-connect-tv .row:after,
.g-block:after,
.header_wrapper .gold-client-and-user-block:after,
.header_wrapper:after,
.l-form .l-form-item:after,
.l-messages .l-messages-item:after,
.l-select-service .l-select-service-item:after,
.l-services .l-services-item .l-services-item-content .payment-details .payment-details-item:after,
.l-services .l-services-item .l-services-item-content .payment-general .col.col-login .login-current:after,
.l-services .l-services-item .l-services-item-content .payment-general .col.col-login .login-old:after,
.l-services .l-services-item .l-services-item-title:after,
.l-settings .l-settings-item .l-settings-item-title:after,
.l-special-offers:after,
.pc_user_block:after {
 clear:both
}
.list-null,
.side-menu,
ol,
ul {
 list-style:none
}
.fl {
 float:left
}
.fr {
 float:right
}
.cb {
 font-size:0;
 line-height:0;
 height:0
}
.list-null {
 padding:0
}
.hidden {
 display:none
}
.text-center {
 text-align:center
}
.text-small {
 font-size:13px
}
.text-base {
 font-size:15px
}
.text-large {
 font-size:18px;
 line-height:1.5
}
.text-larger {
 font-size:22px
}
body,
html {
 height:100%;
 min-height:100%
}
html {
 font-size:100%;
 -ms-text-size-adjust:100%;
 -webkit-text-size-adjust:100%
}
body {
 min-width:1000px;
 background-color:#f8f9f9;
 font-size:62.5%;
 color:#000;
 overflow-y:scroll
}
*,
:after,
:before {
 -webkit-box-sizing:border-box;
 -moz-box-sizing:border-box;
 box-sizing:border-box
}
p {
 margin:1em 0
}
p:first-child {
 margin-top:0
}
p:last-child {
 margin-bottom:0
}
ul li {
 line-height:18px;
 padding-left:20px
}
ul li::before {
 content:"";
 width:15px;
 height:1px;
 background-color:#000;
 position:absolute;
 top:10px;
 left:0
}
ul li:not(:last-child) {
 margin-bottom:6px
}
hr {
 -moz-border-bottom-colors:none;
 -moz-border-image:none;
 -moz-border-left-colors:none;
 -moz-border-right-colors:none;
 -moz-border-top-colors:none;
 border-color:#e6e6e6;
 background-color:red;
 border-style:solid none;
 border-width:1px 0 0;
 margin:18px 0
}
table {
 border-spacing:0;
 border-collapse:collapse
}
.clearfix:after,
.clearfix:before {
 content:" ";
 display:table
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
 display:block
}
.g-btn,
.g-label {
 display:inline-block
}
audio,
canvas,
progress,
video {
 display:inline-block;
 vertical-align:baseline
}
a {
 outline:0;
 color:#e50004
}
input,
select,
textarea {
 background-color:#fff;
 outline:0;
 font-size:22px;
 border:1px solid #e6e6e6;
 margin:0;
 padding:2px 10px 5px
}
input.error,
select.error,
textarea.error {
 border-color:#e50004;
 color:#e50004
}
textarea {
 resize:none;
 overflow:auto
}
:focus {
 outline:0
}
::-moz-focus-inner {
 border:0
}
button::-moz-focus-inner {
 border:0;
 padding:0
}
.main_outer {
 width:auto;
 position:relative;
 height:100%;
 min-height:100%;
 z-index:1
}
.footer_outer {
 height:140px;
 margin:-140px auto 0;
 min-height:140px;
 position:relative;
 z-index:2
}
.footer_inner,
.main_inner {
 width:980px;
 margin:0 auto
}
.main_inner {
 padding-bottom:170px
}
.footer_inner {
 border-top:2px solid #000;
 padding-top:25px;
 font-size:15px;
 color:#1b1c20
}
html>body .footer_outer,
html>body .main_outer {
 height:auto
}
h1,
h2,
h3,
h4,
h5,
h6 {
 margin:0;
 padding:0
}
h1 {
 font-size:44px;
 margin-bottom:1em
}
h2 {
 font-size:24px;
 margin-bottom:.625em
}
h3 {
 font-size:22px;
 margin-bottom:.6em
}
h4 {
 font-weight:400;
 font-size:18px;
 margin-bottom:.9em
}
.g-btn {
 -webkit-border-radius:3px;
 -moz-border-radius:3px;
 border-radius:3px;
 -webkit-transition:.2s;
 transition:.2s;
 font-size:15px;
 line-height:27px;
 padding:4px 16px 5px;
 cursor:pointer;
 border:none
}
.g-btn.btn-default {
 background-color:#777;
 color:#fff;
 font-weight:600
}
.g-btn.btn-default:hover {
 background-color:#6a6a6a
}
.g-btn.btn-danger {
 background-color:#e50004;
 color:#fff;
 font-weight:600
}
.g-btn.btn-danger:hover {
 background-color:#cc0004
}
.g-btn.btn-primary {
 background-color:#0071bc;
 color:#fff;
 font-weight:600
}
.g-btn.btn-primary:hover {
 background-color:#0062a3
}
.g-btn.btn-link {
 background:0 0;
 color:#e50004;
 text-decoration:underline;
 padding-right:0;
 padding-left:0
}
.g-btn.loading,
.header-link,
.item-checkbox .fake {
 background-repeat:no-repeat
}
.g-btn.btn-link.pseudo {
 text-decoration:none;
 color:#e50004
}
.g-btn.btn-link.pseudo span {
 border-bottom:1px dashed
}
.g-btn.btn-link:hover {
 color:#999
}
.g-btn+.g-btn {
 margin-left:20px
}
.g-btn.loading {
 color:transparent;
 cursor:default;
 background-image:url(../images/ajax-loader.gif);
 background-position:50% 50%
}
.g-btn:disabled {
 filter:alpha(opacity=50 );
 opacity:.5;
 cursor:default
}
.g-label {
 -webkit-border-radius:3px;
 -moz-border-radius:3px;
 border-radius:3px;
 color:#fff;
 font-size:13px;
 padding:3px 9px 4px;
 line-height:normal;
 border-width:1px;
 border-style:solid
}
.g-label.label-danger {
 border-color:#ff2727;
 color:#ff2727
}
.g-label.label-success {
 border-color:#009245;
 color:#009245
}
.g-label.label-default {
 border-color:#999;
 color:#fff;
 background-color:#999
}
.g-alert {
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 border-radius:5px;
 padding:15px 20px;
 line-height:26px;
 font-size:18px;
 margin:10px 0;
 color:#fff
}
.g-alert.alert-success {
 background-color:#40bf40
}
.g-alert.alert-danger {
 background-color:#e50004
}
.color-gray {
 color:#777
}
.color-black {
 color:#000
}
.g-block {
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
 border-radius:10px;
 background-color:#fff;
 border:1px solid #e6e6e6;
 padding:20px
}
.g-block:after,
.g-block:before {
 content:" ";
 display:table
}
.g-block:not(:last-child) {
 margin-bottom:10px
}
.item-checkbox {
 position:relative;
 display:inline-block;
 vertical-align:middle
}
.item-checkbox input {
 filter:alpha(opacity=0 );
 opacity:0;
 width:0;
 height:0;
 margin:0;
 padding:0;
 position:absolute;
 top:0;
 left:0
}
.item-checkbox .text,
.item-radio {
 position:relative;
 display:inline-block
}
.item-checkbox input:checked+.fake {
 border-color:#000;
 background-image:url(../images/i-check.png)
}
.item-checkbox input:disabled+.fake {
 filter:alpha(opacity=50 );
 opacity:.5
}
.item-checkbox input:disabled+.fake~.text {
 color:grey
}
.item-checkbox .fake {
 display:inline-block;
 width:16px;
 height:16px;
 border:1px solid #777;
 background-position:50% 50%
}
.item-checkbox .text {
 vertical-align:top;
 top:-.1em
}
.item-radio {
 vertical-align:middle
}
.item-radio input {
 filter:alpha(opacity=0 );
 opacity:0;
 width:0;
 height:0;
 margin:0;
 padding:0;
 position:absolute;
 top:0;
 left:0
}
.item-radio input:checked+.fake {
 border-color:#e50004
}
.item-radio input:checked+.fake::before {
 filter:alpha(opacity=100 );
 opacity:1
}
.item-radio .fake {
 -webkit-border-radius:18px;
 -moz-border-radius:18px;
 border-radius:18px;
 -webkit-transition:.2s;
 transition:.2s;
 display:inline-block;
 width:18px;
 height:18px;
 border:1px solid #999;
 position:relative
}
.item-radio .fake::before {
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
 border-radius:10px;
 filter:alpha(opacity=0 );
 opacity:0;
 -webkit-transition:.2s;
 -moz-transition:.2s;
 -o-transition:.2s;
 transition:.2s;
 -webkit-transform:translate(-50%,-50%);
 -moz-transform:translate(-50%,-50%);
 -o-transform:translate(-50%,-50%);
 transform:translate(-50%,-50%);
 content:"";
 display:block;
 width:8px;
 height:8px;
 background-color:#e50004;
 position:absolute;
 top:50%;
 left:50%
}
.header_wrapper .gold-client-and-user-block:after,
.header_wrapper .gold-client-and-user-block:before,
.header_wrapper:after,
.header_wrapper:before {
 display:table;
 content:" "
}
.header_wrapper {
 margin-bottom:4em
}
.header_wrapper .logo-and-phone {
 float:left;
 padding-top:3.2em
}
.header_wrapper .logo-and-phone .logo {
 margin-bottom:24px
}
.header_wrapper .logo-and-phone .phone {
 font-size:18px;
 line-height:18px
}
.header_wrapper .gold-client-and-user-block {
 margin:0 28em 0 24em;
 padding-top:2em
}
.header_wrapper .gold-client-and-user-block .user-block {
 float:right;
 width:22em
}
.header_wrapper .links {
 float:right
}
.b-gold-client,
.b-messages {
 float:left;
 -webkit-border-radius:7px;
 -moz-border-radius:7px;
 border-radius:7px;
 display:block;
 border:1px solid #e6e6e6;
 background-color:#fff;
 padding:11px 16px;
 color:#1b1c20;
 text-align:center;
 text-decoration:none
}
.b-gold-client .focus,
.b-gold-client .hover,
.b-gold-client:hover .static,
.b-messages .focus,
.b-messages .hover,
.b-messages:hover .static {
 display:none
}
.b-gold-client:hover .hover,
.b-messages:hover .hover {
 display:inline
}
.b-gold-client:after,
.b-gold-client:before {
 content:" ";
 display:table
}
.b-messages,
.b-messages span {
 display:block
}
.b-gold-client .text {
 font-size:13px;
 padding-top:.3em
}
.b-messages {
 text-decoration:none;
 margin-left:10px
}
.b-messages span.icon {
 margin-bottom:4px;
 position:relative
}
.b-messages span.icon i {
 font-style:normal;
 display:inline-block;
 position:absolute;
 top:2px;
 right:8px;
 background-color:#e50004;
 color:#fff;
 font-weight:300;
 font-size:10px;
 padding:1px 5px
}
.b-messages span.text {
 font-size:13px;
 color:#777
}
.b-messages:focus img.hover,
.b-messages:focus img.static {
 display:none
}
.b-messages:focus img.focus {
 display:inline
}
.header-link {
 float:right;
 display:block;
 height:123px;
 padding-top:65px;
 background-color:#eff0f0;
 background-position:50% 17px;
 position:relative;
 font-size:15px;
 line-height:17px;
 text-align:center;
 text-decoration:none;
 color:#000
}
.header-link.call-back {
 width:96px;
 background-image:url(../images/call24.png)
}
.header-link.tech-serv {
 width:104px;
 background-image:url(../images/techsup.png)
}
.header-link:before {
 content:"";
 position:absolute;
 z-index:10;
 bottom:-1px;
 right:0;
 left:0;
 border-style:solid;
 border-width:12px 48px;
 border-color:transparent transparent #f9f8f8
}
.header-link:hover span {
 border-bottom:1px solid #c8c8c8
}
.header-link:not(:last-child) {
 margin-left:8px
}
.pc_user_block {
 -webkit-border-radius:7px;
 -moz-border-radius:7px;
 border-radius:7px;
 -webkit-transition:.2s;
 -moz-transition:.2s;
 -o-transition:.2s;
 transition:.2s;
 min-height:65px;
 position:relative;
 border:1px solid #e6e6e6;
 background-color:#fff;
 padding:7px 45px 10px 16px;
 font-size:0;
 cursor:pointer
}
.pc_user_block:after,
.pc_user_block:before {
 content:" ";
 display:table
}
.pc_user_block .info {
 display:block;
 font-size:13px
}
.pc_user_block .info address,
.pc_user_block .info strong {
 display:block
}
.pc_user_block .info strong {
 font-weight:400
}
.pc_user_block .info address {
 font-style:normal;
 padding-top:9px;
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis
}
.pc_user_block .pc_user_block_button {
 -webkit-border-radius:0 10px 10px 0;
 -moz-border-radius:0 10px 10px 0;
 border-radius:0 10px 10px 0;
 -webkit-transition:.2s;
 -moz-transition:.2s;
 -o-transition:.2s;
 transition:.2s;
 width:30px;
 position:absolute;
 z-index:1;
 top:0;
 right:0;
 bottom:0;
 border-left:1px solid #e6e6e6;
 cursor:pointer;
 outline:0;
 background-color:#fff
}
.pc_user_block .pc_user_block_button::before {
 -webkit-transform:translate(-50%,-50%);
 -moz-transform:translate(-50%,-50%);
 -o-transform:translate(-50%,-50%);
 transform:translate(-50%,-50%);
 content:"";
 display:block;
 position:absolute;
 top:50%;
 left:50%;
 border-width:5px 4px;
 border-style:solid;
 border-color:rgba(255,255,255,0);
 border-top-color:grey
}
.pc_user_block .pc_user_tooltip {
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 border-radius:5px;
 filter:alpha(opacity=0 );
 opacity:0;
 -webkit-transition:opacity .2s;
 -moz-transition:opacity .2s;
 -o-transition:opacity .2s;
 transition:opacity .2s;
 -webkit-box-shadow:3px 7px 20px rgba(0,0,0,.3);
 -moz-box-shadow:3px 7px 20px rgba(0,0,0,.3);
 box-shadow:3px 7px 20px rgba(0,0,0,.3);
 position:absolute;
 z-index:10;
 top:90%;
 left:-99999px;
 width:96px;
 background-color:#fff;
 text-align:center
}
.pc_user_block .pc_user_tooltip .menu {
 -webkit-border-radius:3px;
 -moz-border-radius:3px;
 border-radius:3px;
 font-size:15px;
 font-weight:300
}
.pc_user_block .pc_user_tooltip .menu .menu-item {
 background:0 0;
 padding:0;
 margin:0
}
.pc_user_block .pc_user_tooltip .menu .menu-item a,
.pc_user_block .pc_user_tooltip .menu .menu-item a:link,
.pc_user_block .pc_user_tooltip .menu .menu-item a:visited {
 -webkit-transition:.2s;
 -moz-transition:.2s;
 -o-transition:.2s;
 transition:.2s;
 padding:8px;
 display:block;
 height:auto;
 margin:0;
 color:#000;
 text-decoration:none;
 border-bottom:1px solid #ebebeb;
 cursor:pointer;
 float:none;
 width:auto!important
}
.pc_user_block .pc_user_tooltip .menu .menu-item a:active,
.pc_user_block .pc_user_tooltip .menu .menu-item a:hover {
 color:#e50004
}
.pc_user_block .pc_user_tooltip .menu .menu-item:last-child>a {
 border-bottom:none
}
.pc_user_block .pc_user_tooltip:before {
 content:"";
 position:absolute;
 bottom:100%;
 left:48px;
 border:5px solid transparent;
 border-bottom-color:#fff
}
.pc_user_block.is-checked {
 -webkit-transition:.2s;
 -moz-transition:.2s;
 -o-transition:.2s;
 transition:.2s;
 border-color:#f8f9f9;
 background-color:#e6e6e6
}
.pc_user_block.is-checked .pc_user_block_button {
 border-color:#fff;
 background-color:#e6e6e6
}
.pc_user_block.is-checked .pc_user_tooltip {
 opacity:1;
 left:auto;
 right:-28px
}
.pc_user_block:before {
 content:"";
 display:inline-block;
 height:100%;
 vertical-align:middle
}
.content-wrapper:after,
.content-wrapper:before {
 content:" ";
 display:table
}
.content-wrapper .content-col-left {
 float:left;
 width:700px;
 font-size:15px
}
.content-wrapper .content-col-right {
 float:right;
 width:260px
}
.side-menu {
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
 border-radius:10px;
 margin:0 0 3.6em;
 padding:0;
 border:1px solid #e6e6e6;
 background:#fff
}
.side-menu .side-menu-item .level-0 {
 -webkit-transition:.2s;
 -moz-transition:.2s;
 -o-transition:.2s;
 transition:.2s;
 display:block;
 padding:.5882em .8823em;
 color:#1b1c20;
 font-size:18px;
 line-height:24px;
 text-align:left;
 text-decoration:none;
 font-weight:600
}
.side-menu .side-menu-item .level-0 .icon-wrap {
 display:inline-block;
 width:10px;
 position:relative;
 top:-1px;
 margin-right:9px
}
.side-menu .side-menu-item .level-0:hover {
 color:#e50004;
 border-color:#e6e6e6
}
.side-menu .side-menu-item .side-menu {
 padding:10px 10px 10px 35px;
 display:none;
 border:none;
 margin:0
}
.side-menu .side-menu-item .side-menu .side-menu-item {
 border:none
}
.side-menu .side-menu-item .side-menu .side-menu-item a {
 -webkit-transition:.2s;
 -moz-transition:.2s;
 -o-transition:.2s;
 transition:.2s;
 border-bottom:1px solid #999;
 font-size:15px;
 line-height:21px;
 color:#000;
 text-decoration:none
}
.side-menu .side-menu-item .side-menu .side-menu-item a:hover {
 border-color:#e6e6e6;
 color:#e50004
}
.side-menu .side-menu-item .side-menu .side-menu-item a.active {
 color:#e50004;
 border-bottom-color:transparent
}
.side-menu .side-menu-item .side-menu .side-menu-item:not(:last-child) {
 margin-bottom:5px
}
.side-menu .side-menu-item:not(:first-child) {
 border-top:1px solid #e6e6e6
}
.side-menu .side-menu-item.active .level-0 {
 color:#e50004
}
.side-menu .side-menu-item.active .level-0 i {
 -webkit-transform:rotate(90deg);
 -moz-transform:rotate(90deg);
 -o-transform:rotate(90deg);
 transform:rotate(90deg)
}
.side-menu .side-menu-item.active .side-menu {
 display:block
}
.i-arrow {
 display:inline-block;
 width:10px;
 height:10px;
 background:url(../images/arr_right.png)
}
.l-services .l-services-item .l-services-item-content .payment-general:after,
.l-services .l-services-item .l-services-item-content .payment-general:before,
.l-services .l-services-item .l-services-item-title:after,
.l-services .l-services-item .l-services-item-title:before {
 content:" ";
 display:table
}
.l-services .col-left {
 float:left
}
.l-services .col-right {
 float:right
}
.l-services .l-services-item .l-services-item-title {
 margin-bottom:15px
}
.l-services .l-services-item .l-services-item-content .btns,
.l-services .l-services-item .l-services-item-content .form-connect-tv,
.l-services .l-services-item .l-services-item-content .payment-details,
.l-services .l-services-item .l-services-item-content .payment-general {
 margin-bottom:20px
}
.l-services .l-services-item .l-services-item-title .col-left {
 font-size:22px;
 line-height:36px;
 font-weight:600
}
.l-services .l-services-item .l-services-item-title .col-right {
 line-height:36px
}
.l-services .l-services-item .l-services-item-content {
 font-size:15px;
 line-height:24px;
 color:#777
}
.l-services .l-services-item .l-services-item-content .payment-general:after {
 clear:both
}
.l-services .l-services-item .l-services-item-content .payment-general .col {
 float:left;
 -webkit-border-radius:3px;
 -moz-border-radius:3px;
 border-radius:3px;
 height:70px;
 width:212px;
 border:1px solid #ccc;
 padding:5px 9px
}
.l-services .l-services-item .l-services-item-content .payment-general .col .amount span {
 font-size:40px;
 line-height:40px
}
.l-services .l-services-item .l-services-item-content .payment-general .col .amount sup {
 font-size:15px;
 vertical-align:top;
 display:inline-block;
 margin-left:5px
}
.b-selected-packages .list .row:after,
.b-selected-packages .list .row:before,
.form-connect-tv .row:after,
.form-connect-tv .row:before,
.l-services .l-services-item .l-services-item-content .payment-details .payment-details-item:after,
.l-services .l-services-item .l-services-item-content .payment-details .payment-details-item:before,
.l-services .l-services-item .l-services-item-content .payment-general .col.col-login .login-current:after,
.l-services .l-services-item .l-services-item-content .payment-general .col.col-login .login-current:before,
.l-services .l-services-item .l-services-item-content .payment-general .col.col-login .login-old:after,
.l-services .l-services-item .l-services-item-content .payment-general .col.col-login .login-old:before {
 content:" ";
 display:table
}
.l-services .l-services-item .l-services-item-content .payment-general .col .comment {
 line-height:16px
}
.l-services .l-services-item .l-services-item-content .payment-general .col.col-to-pay {
 color:#000
}
.l-services .l-services-item .l-services-item-content .payment-general .col.col-balance.status-danger {
 color:#e50004
}
.l-services .l-services-item .l-services-item-content .payment-general .col.col-login {
 line-height:20px
}
.l-services .l-services-item .l-services-item-content .payment-general .col.col-login .login-current {
 color:#000
}
.l-services .l-services-item .l-services-item-content .payment-general .col.col-login .login-old {
 font-size:13px;
 color:#777
}
.l-services .l-services-item .l-services-item-content .payment-general .col.col-login .key {
 float:left
}
.l-services .l-services-item .l-services-item-content .payment-general .col.col-login .value {
 margin-left:85px
}
.l-services .l-services-item .l-services-item-content .payment-general .col:not(:first-child) {
 margin-left:11px
}
.l-services .l-services-item .l-services-item-content .payment-general .col-left .total {
 font-size:22px;
 color:#000
}
.l-services .l-services-item .l-services-item-content .payment-general .col-right {
 text-align:right
}
.l-services .l-services-item .l-services-item-content .payment-details .payment-details-item {
 line-height:17px;
 border-bottom:1px solid #e6e6e6;
 padding-top:8px;
 padding-bottom:8px
}
.l-services .l-services-item .l-services-item-content .payment-details .payment-details-item .col-left {
 width:300px
}
.l-services .l-services-item .l-services-item-content .payment-details .payment-details-item .col-center {
 float:left;
 width:130px
}
.l-services .l-services-item .l-services-item-content .payment-details .payment-details-item .col-right {
 width:220px;
 text-align:right
}
.l-services .l-services-item .l-services-item-content .payment-details .payment-details-item.title {
 color:#000;
 border-bottom-color:#ccc;
 font-weight:600
}
.l-services .l-services-item .l-services-item-content .service-by {
 color:#999;
 font-size:13px
}
.l-services .l-services-item .l-services-item-content .form-connect-tv+.btns {
 margin-bottom:0
}
.form-connect-tv .row>.more,
.form-connect-tv .row>.name {
 font-size:15px;
 line-height:18px;
 color:#777;
 padding-top:9px
}
.form-connect-tv .row>.name {
 float:left;
 width:160px
}
.form-connect-tv .row .more {
 float:right;
 width:140px
}
.form-connect-tv .row .options {
 margin:0 160px
}
.form-connect-tv .row .options .mgn-select-list {
 width:480px
}
.form-connect-tv .row:not(:last-child) {
 margin-bottom:10px
}
.form-connect-tv .row.active {
 color:#000
}
.form-connect-tv .row .mgn-select-list {
 width:360px
}
.form-connect-tv-comment {
 margin-bottom:24px;
 color:#000
}
.b-channels {
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 border-radius:5px;
 border:1px solid #777;
 padding:15px
}
.b-channels .b-channels-item {
 position:relative;
 font-size:15px;
 line-height:18px
}
.b-popup .b-popup-body,
.b-selected-packages .list .row {
 color:#000;
 line-height:24px;
 font-size:18px
}
.b-channels .b-channels-item .checkbox {
 float:left;
 width:20px
}
.b-channels .b-channels-item .checkbox .item-checkbox {
 vertical-align:top
}
.b-channels .b-channels-item .price {
 float:right;
 width:110px
}
.b-channels .b-channels-item .name {
 margin:0 120px 0 30px
}
.b-channels .b-channels-item .count {
 position:absolute;
 top:0;
 left:100%;
 margin-left:35px;
 white-space:nowrap
}
.b-channels .b-channels-item:not(:last-child) {
 margin-bottom:12px
}
.b-channels .b-channels-item.active,
.b-channels .b-channels-item.active .name {
 color:#000
}
body .fancybox-close {
 background:url(../images/sprite-i-close.png) no-repeat;
 width:19px;
 height:19px;
 top:22px;
 right:18px
}
body .fancybox-close:hover {
 background-position:0 -19px
}
body .fancybox-wrap .fancybox-skin {
 -webkit-border-radius:0;
 -moz-border-radius:0;
 border-radius:0;
 -webkit-box-shadow:none;
 -moz-box-shadow:none;
 box-shadow:none;
 background-color:#fff;
 color:#000
}
.b-popup {
 padding:20px
}
.b-popup .b-popup-body {
 margin-bottom:30px
}
.b-popup hr {
 margin-right:-20px;
 margin-left:-20px
}
.b-popup.popup-sm {
 width:500px
}
.b-popup.popup-md {
 width:660px
}
.b-selected-packages .title {
 border-bottom:2px solid #e6e6e6;
 padding-bottom:4px;
 margin-bottom:10px
}
.b-selected-packages .list {
 margin-bottom:35px;
 font-weight:600
}
.b-payment-type img,
.btn-change i,
.btn-change span {
 display:inline-block
}
.b-selected-packages .list .row .col-left {
 float:left;
 width:300px
}
.b-selected-packages .list .row .col-right {
 float:right;
 width:130px
}
.b-selected-packages .list .row.total {
 color:#e50004;
 padding-top:6px
}
.b-selected-packages .list .row:not(:last-child) {
 margin-bottom:6px
}
.popup-send-order>h4 {
 margin-bottom:.2em
}
.popup-send-order>h3 {
 margin-bottom:.75em
}
.b-refill {
 margin-bottom:10px
}
.b-refill .b-amount {
 line-height:36px;
 margin-bottom:15px;
 color:#777
}
.b-refill .b-amount h3 {
 font-weight:400
}
.b-refill .b-amount input {
 width:90px;
 margin:0 2px
}
.b-refill .b-refill-footer {
 position:relative;
 border-top:1px solid #e6e6e6;
 margin-right:-20px;
 margin-left:-20px;
 padding:20px 20px 0
}
.b-notification {
 margin-bottom:10px;
 height:85px;
 color:#777;
 padding-top:9px;
 padding-bottom:9px;
 font-size:18px;
 line-height:30px
}
.b-payment-type {
 height:85px;
 color:#777;
 font-size:18px;
 line-height:38px
}
.b-payment-type .cards,
.b-payment-type .title,
.b-payment-type img {
 display:inline-block;
 vertical-align:middle
}
.b-payment-type .title {
 margin-right:25px
}
.btn-change {
 font-size:15px;
 color:#777;
 text-decoration:none;
 line-height:normal;
 margin-left:30px
}
.btn-change i {
 position:relative;
 top:2px;
 margin-right:4px
}
.btn-change span {
 border-bottom:1px dashed #777
}
.l-form .l-form-item:after,
.l-form .l-form-item:before,
.l-select-service .l-select-service-item:after,
.l-select-service .l-select-service-item:before {
 display:table;
 content:" "
}
.l-select-service {
 margin-bottom:30px
}
.l-select-service .l-select-service-item {
 color:#777
}
.l-select-service .l-select-service-item .radio {
 float:left;
 width:20px;
 padding-top:3px
}
.l-select-service .l-select-service-item .login {
 float:right;
 width:190px;
 font-size:18px;
 line-height:24px;
 text-align:right
}
.table-history,
.table-internet {
 text-align:left
}
.l-select-service .l-select-service-item .purpose {
 margin:0 200px 0 30px
}
.l-select-service .l-select-service-item .purpose .name {
 -webkit-transition:.2s;
 -moz-transition:.2s;
 -o-transition:.2s;
 transition:.2s;
 font-size:22px;
 color:#000
}
.l-select-service .l-select-service-item .purpose .amount {
 font-size:18px
}
.l-select-service .l-select-service-item:not(:last-child) {
 margin-bottom:25px
}
.l-select-service .l-select-service-item.active .purpose .name {
 color:#e50004
}
.l-form .l-form-item .field-name {
 float:left;
 width:140px;
 color:#777;
 font-size:22px;
 padding-top:5px
}
.l-form .l-form-item .field-option {
 margin-left:150px
}
.l-form .l-form-item .field-option .form-control-static {
 margin:0;
 padding-top:5px;
 font-size:22px
}
.l-form .l-form-item .field-option .help-block {
 margin:0;
 padding-top:12px
}
.l-form .l-form-item:not(:last-child) {
 margin-bottom:20px
}
.l-form .l-form-item.row-btns {
 position:relative;
 border-top:1px solid #e6e6e6;
 margin-right:-20px;
 margin-left:-20px;
 padding:20px 20px 0
}
.l-form .l-form-item.row-name,
.l-form .l-form-item.row-surname {
 margin-bottom:8px
}
.l-form .l-form-item.row-fathers-name {
 margin-bottom:18px
}
.l-messages .l-messages-item:not(:last-child),
.l-settings {
 margin-bottom:10px
}
.form-contact-details .row-email label,
.form-contact-details .row-phone label {
 display:block
}
.form-contact-details .row-email label .item-checkbox,
.form-contact-details .row-phone label .item-checkbox {
 float:left;
 margin-top:3px
}
.form-contact-details .row-email label .text,
.form-contact-details .row-phone label .text {
 font-size:18px;
 line-height:22px;
 display:block;
 margin-left:26px
}
.l-messages .l-messages-item {
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
 border-radius:10px;
 background-color:#fff;
 border:1px solid #e6e6e6;
 padding:20px;
 box-shadow:5px 5px 3px #E6E6E6
}
.l-messages .l-messages-item:after,
.l-messages .l-messages-item:before {
 content:" ";
 display:table
}
.l-messages .l-messages-item .date {
 color:#999
}
.l-messages .l-messages-item:not(:first-child) {
 margin-top:30px
}
table.type1 {
 width:100%
}
table.type1 td {
 border:1px solid #e9eaea;
 font-size:18px;
 padding:10px 20px
}
.form-show-traffic .btn,
.form-show-traffic .name,
.form-show-traffic .value {
 display:inline-block;
 vertical-align:top
}
.form-show-traffic .btn,
.form-show-traffic .value {
 margin-left:10px
}
.form-show-traffic .name {
 line-height:36px
}
.l-traffic {
 margin-top:10px
}
.l-traffic .l-traffic-item {
 line-height:30px;
 padding-top:10px
}
.l-traffic .l-traffic-item h3,
.l-traffic .l-traffic-item h4 {
 margin-bottom:0
}
.l-traffic .l-traffic-item strong {
 font-weight:700
}
.l-traffic .l-traffic-item .col-name {
 width:110px
}
.l-traffic .l-traffic-item .briefly,
.l-traffic .l-traffic-item .details {
 display:inline-block
}
.l-traffic .l-traffic-item .briefly {
 width:100px
}
.l-traffic .l-traffic-item:not(:first-child) {
 border-top:1px solid #e6e6e6
}
.l-traffic .l-traffic-item:not(:last-child) {
 padding-bottom:10px
}
div.ui-datepicker {
 font-size:15px
}
.has-datepicker {
 width:150px;
 background:url(../images/calendar-small.png) 120px 50% no-repeat
}
.b-history-results {
 margin-top:30px
}
.form-show-history input {
 margin:0 5px
}
.form-show-history span {
 display:inline-block;
 padding-right:3px
}
.table-history td,
.table-history th {
 padding:10px
}
.table-history thead tr th {
 border-bottom:1px solid #e6e6e6
}
.table-history tbody tr:nth-child(even) {
 background-color:#e6e6e6
}
.mgn-select li::before {
 display:none
}
.mgn-select-wrap {
 font-size:15px!important;
 line-height:normal!important;
 position:relative
}
.mgn-select-wrap .mgn-select-choosed {
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 border-radius:5px;
 border:1px solid #999;
 padding:7px 34px 9px 12px;
 cursor:pointer;
 position:relative;
 white-space:nowrap;
 overflow:hidden
}
.mgn-select-wrap .mgn-select-choosed:after {
 content:'';
 display:block;
 border:8px solid;
 border-color:#999 transparent transparent;
 position:absolute;
 right:9px;
 top:15px
}
.mgn-select-wrap .mgn-select-choosed:hover:after {
 border-top-color:#e50004
}
.mgn-select-wrap .mgn-select-choosed .node-b.middle {
 display:none
}
.mgn-select-wrap.active .mgn-select-list {
 display:block
}
.mgn-select-wrap .node-b {
 display:inline-block
}
.mgn-select-wrap .node-b.field {
 width:211px
}
.mgn-select-wrap .node-b.middle {
 margin-left:74px
}
.mgn-select-wrap .node-b.price {
 min-width:80px
}
.mgn-select-wrap .mgn-select-list {
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 border-radius:5px;
 -webkit-box-shadow:0 0 10px 2px rgba(0,0,0,.5);
 -moz-box-shadow:0 0 10px 2px rgba(0,0,0,.5);
 box-shadow:0 0 10px 2px rgba(0,0,0,.5);
 position:absolute;
 z-index:10;
 background-color:#f8f9f9;
 color:#000;
 overflow:hidden;
 display:none
}
.mgn-select-wrap .mgn-select-list .mgn-select-item {
 padding:10px 14px;
 cursor:pointer
}
.mgn-select-wrap .mgn-select-list .mgn-select-item:hover {
 background-color:#ff7f81;
 color:#fff
}
.mgn-select-wrap .mgn-select-list .mgn-select-item.active {
 background-color:#e50004;
 color:#fff
}
.mgn-select-wrap .mgn-select-list .mgn-select-item.active a,
.mgn-select-wrap .mgn-select-list .mgn-select-item.active a:hover {
 color:#fff
}
.mgn-select-wrap.basic .mgn-select-list {
 right:0;
 left:0
}
.b-access-type .name {
 float:left;
 font-weight:600;
 font-size:18px;
 line-height:36px
}
.b-access-type .value {
 margin:0 200px
}
.item-info {
 -webkit-border-radius:12px;
 -moz-border-radius:12px;
 border-radius:12px;
 display:inline-block;
 height:22px;
 width:22px;
 line-height:22px;
 position:relative;
 vertical-align:baseline;
 color:#fff;
 background-color:#4ed647;
 text-align:center;
 cursor:pointer
}
.item-info .text {
 -webkit-box-shadow:0 0 20px 10px #f7f7f7;
 -moz-box-shadow:0 0 20px 10px #f7f7f7;
 box-shadow:0 0 20px 10px #f7f7f7;
 -webkit-border-radius:5px 5px 5px 0;
 -moz-border-radius:5px 5px 5px 0;
 border-radius:5px 5px 5px 0;
 position:absolute;
 z-index:10;
 bottom:26px;
 left:14px;
 height:0;
 width:0;
 padding:3px 5px;
 overflow:hidden;
 text-align:left;
 color:#000;
 background-color:#fff;
 border:1px solid #e6e6e6;
 visibility:hidden;
 font-size:12px
}
.item-info:hover .text {
 width:200px;
 height:auto;
 visibility:visible
}
.table-internet td,
.table-internet th {
 padding:10px;
 border:1px solid #e9eaea
}
.table-internet .mgn-select-wrap .mgn-select-choosed {
 width:130px
}
.table-internet .mac {
 width:186px
}
.l-settings .col-left {
 float:left
}
.l-settings .col-right {
 float:right
}
.l-settings .l-settings-item .l-settings-item-title {
 margin-bottom:15px
}
.l-settings .l-settings-item .l-settings-item-title:after,
.l-settings .l-settings-item .l-settings-item-title:before {
 content:" ";
 display:table
}
.l-settings .l-settings-item .l-settings-item-title .col-left {
 font-size:22px;
 line-height:36px;
 font-weight:600
}
.l-settings .l-settings-item .l-settings-item-title .col-right {
 line-height:36px
}
.l-settings .l-settings-item .l-settings-item-content .field-wrap {
 width:260px
}
.l-settings .l-settings-item .l-settings-item-content .field-wrap input {
 width:100%
}
.b-get-mac-address .icon,
.b-info .icon {
 float:left
}
.b-get-mac-address .icon img,
.b-info .icon img {
 display:block
}
.b-get-mac-address .text,
.b-info .text {
 margin-left:50px;
 font-size:18px;
 color:#777;
 line-height:34px
}
.b-find-ip input {
 width:320px
}
.form-login .l-form-item.row-btns,
.form-recovery .l-form-item.row-btns {
 border-top:none;
 padding-top:0
}
.form-login .form-control-comment {
 font-size:15px;
 color:#1b1c20;
 margin-left:20px;
 position:relative;
 top:-.15em
}
.form-login .form-control-comment img,
.form-login .form-control-comment span {
 vertical-align:middle
}
.form-login .form-control-comment img+span {
 margin-left:5px
}
.form-login .l-form-item .field-option input {
 width:300px
}
.form-recovery .list-radio {
 font-weight:600;
 font-size:18px;
 margin-bottom:10px!important
}
.form-recovery .list-radio label {
 display:inline-block
}
.form-recovery .list-radio label .text {
 vertical-align:top;
 display:inline-block;
 position:relative;
 top:-.15em;
 font-size:20px;
 margin-left:5px
}
.form-recovery .list-radio label:not(:first-child) {
 margin-left:35px
}
.recovery-item-form input {
 width:40%
}
.recovery-item-form .text {
 margin-left:15px;
 vertical-align:middle;
 display:inline-block;
 position:relative;
 top:-.3em;
 color:#999
}
.recovery-item-form .text img,
.recovery-item-form .text span {
 vertical-align:middle
}
.recovery-item-form .text span {
 padding-left:1px
}
.b-login,
.b-recovery {
 position:relative
}
.b-login .i-secured,
.b-recovery .i-secured {
 position:absolute;
 right:20px;
 bottom:20px
}
.password-wrapper {
 position:relative;
 display:inline-block
}
.password-wrapper input {
 padding-right:46px
}
.password-wrapper .i-eye {
 filter:alpha(opacity=50 );
 opacity:.5;
 -webkit-transition:.5s;
 -moz-transition:.5s;
 -o-transition:.5s;
 transition:.5s;
 position:absolute;
 top:8px;
 right:10px;
 cursor:pointer
}
.password-wrapper .i-eye.active {
 filter:alpha(opacity=100 );
 opacity:1
}
.b-recovery-subtitle {
 color:#999;
 margin-bottom:25px
}
.b-select-message-send-type .b-select-message-send-type-item:not(:last-child) {
 margin-bottom:10px
}
.select-message-send-type-comments {
 border-top:2px solid #e6e6e6;
 color:#999;
 padding-top:10px;
 margin-top:15px
}
.body-login .g-block.b-login,
.body-login .g-block.b-recovery {
 -webkit-box-shadow:0 0 10px -2px rgba(0,0,0,.5);
 -moz-box-shadow:0 0 10px -2px rgba(0,0,0,.5);
 box-shadow:0 0 10px -2px rgba(0,0,0,.5);
 border:1px solid #ccc;
 padding-top:10px;
 height:286px
}
.body-login .g-btn {
 padding-right:30px;
 padding-left:30px
}
.body-login .g-btn.pseudo {
 margin-left:0
}
.body-login h2 {
 font-size:30px;
 margin-bottom:20px
}
.body-login .g-btn,
.body-login .l-form .l-form-item .field-name,
.body-login h4 {
 font-size:19px
}
.body-login .form-login .form-control-comment {
 font-size:16px;
 margin-left:15px
}
.body-login .l-form .l-form-item .field-name {
 width:80px
}
.body-login .l-form .l-form-item .field-option {
 margin-left:80px
}
.body-login .l-form .l-form-item.row-btns {
 padding-top:15px
}
.body-login .l-form .l-form-item:not(:last-child) {
 margin-bottom:10px
}
.body-login .b-popup .b-popup-body,
.body-login .b-popup h3 {
 margin-bottom:25px
}
.body-login .b-popup .b-popup-body ul li:not(:last-child) {
 margin-bottom:10px
}
.body-login .b-popup .b-popup-body ul li::before {
 background-color:#000
}
.l-special-offers:after,
.l-special-offers:before {
 content:" ";
 display:table
}
.l-special-offers .l-special-offers-item .title {
 border-bottom:1px solid #ccc;
 padding-bottom:8px
}
.l-special-offers .l-special-offers-item .price {
 color:#e50004
}
.l-special-offers .l-special-offers-item .price span {
 font-size:20px
}
.l-special-offers .l-special-offers-item .content {
 margin-bottom:20px
}
.l-special-offers:not(:last-child) {
 margin-bottom:25px
}
.l-special-offers.even .l-special-offers-item {
 float:left;
 width:48%
}
.l-special-offers.even .l-special-offers-item:nth-child(even) {
 margin-left:4%
}
