{% extends "wrapper.html" %}
{% load staticfiles %}

{% block  content %}
<script type="text/javascript" src="{% static 'js/lk/history_incomes_index.js' %}"></script>
<!-- HERE BE CONTENTS!!!! -->
<div class="g-block">
    <h3>Показать платежи</h3>
    <div class="form-show-history" id="form-show-history">
        <form action="/history/incomes">
            <span>
                c
            </span>
            <input type="text" id="ifrom" name="from" class="datepicker-here" data-position="bottom left" data-auto-close="true">
            <span>
                по
            </span>
            <input type="text" id="ito" name="to" class="datepicker-here" data-position="bottom left" data-auto-close="true">
            <input type="submit" class="g-btn btn-danger" value="Показать">
        </form>
    </div>
</div><!-- HERE END CONTENTS!!!! -->
{% endblock %}

