{% extends "wrapper.html" %}
{% load staticfiles %}

{% block  content %}
<!-- HERE BE CONTENTS!!!! -->
<div class="g-block">
    <p>
        Вы можете оплатить услуги RiNet через сервис <b>"Сбербанк Онл@йн"</b> и терминалы Сбербанка. Платёж поступает
        моментально, комиссия не взимается.<br>
        Также вы можете распечатать QR-код с данной страницы и использовать его для быстрой оплаты услуг в терминале Сбербанка.
    </p>
    <!-- payment service -->
    <h3 class="color-gray">Услуги к оплате:</h3>
    <div class="l-select-service">
        {% for service, param in contracts_data.items %}
            <div class="l-select-service-item">
                <div class="purpose">
                    <div class="name">
                        <li type="circle"><label for="select-service-{{forloop.counter}}">{{param.commercial}} {% if service == 'ls' %}- сервис "СмотрЁшка"{% elif service == '24tv' %} - сервис "24ТВ" {% endif %}</label></li>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- /payment service -->
    <p>
        Сканируйте или сфотографируйте данный QR-код с помощью вашего устройства или распечатайте его. В терминале
        Сбербанка выберите раздел <b>"Платежи"</b>, затем <b>"Поиск организации по штрих-коду"</b>. Поднесите
        распечатанный QR-код или его фотографию, или изображение на экране смартфона к считывателю терминала.
        За более подробной информацией вы можете обратиться к консультанту банка.
    </p>
    <div class="qrserv">
        <p>
            <span class="text-small color-gray" id="qrdisclaimer">Код для оплаты:</span>
            <br>
            <span id="qrloading">Загрузка...</span>
            <span id="qrerror" hidden="">Ошибка</span>
            <img id="qrimg" src="{% static '/images/qrcodes/' %}{{personal_data.user_old_login}}.svg" alt="qr">
        </p>
        <button class="g-btn btn-danger" id="qrprint">Распечатать</button>
    </div>
    <script type="text/javascript">
        document.getElementById("qrimg").onload = function () {
            document.getElementById("qrloading").remove();
        };
        document.getElementById("qrimg").onerror = function () {
            document.getElementById("qrloading").remove();
            document.getElementById("qrerror").removeAttribute("hidden");
        };
        document.getElementById("qrprint").onclick = function() {
            var disclaimer = 'Интернет-провайдер RiNet. Оплата';
            var qrsrc = document.getElementById("qrimg").src;
            var winPrint = window.open('','','left=50,top=50,width=800,height=640,toolbar=0,scrollbars=1,status=0');
            winPrint.document.write('<html><body>' +
                '<p style="font-size: 16px; font-weight: bold; font-face: Arial, Courier, Times New Roman">'+disclaimer+'</p>' +
                '<img src="' + qrsrc + '" alt="QR"><p id="qrwinloading">Загрузка...</p></body></html>'
            );
            winPrint.document.close();
            winPrint.focus();
            winPrint.onload = function () {
                var _e = winPrint.document.getElementById('qrwinloading');
                _e.parentNode.removeChild(_e);
                winPrint.print();
                winPrint.close();
            }
        }
    </script>
</div><!-- HERE END CONTENTS!!!! -->
{% endblock %}