{% extends "wrapper.html" %}
{% load staticfiles %}

{% block  content %}

<div class="l-messages">
					<div class="l-messages-item">
				<div class="date">18 ноября 2016</div>
				<h4>Профилактика ТВ "СмотрЁшка" в ночь на 17.11</h4>
				<div>Партнёры сообщили о проведении плановых работ на площадке комплекса вещания 17.11.2016 в период с 2.00 до 4.00. В этот период времени планируется несколько кратковременных прерываний сервиса (сроком на несколько минут).
<br>Приносим извинения за возможные неудобства.</div>
			</div>
					<div class="l-messages-item">
				<div class="date">16 октября 2016</div>
				<h4>Цифровое ТВ. Профилактические работы 19.10.2016</h4>
				<div>Внимание! 19.10.2016 в период с 02:00 по 12:00 нашим партнером будут проводиться работы на магистральном оборудовании. В связи с этим в указанный диапазон времени в вещании будет отсутствовать часть ТВ-каналов. Приносим вам свои извинения за связанные с этим неудобства.</div>
			</div>
					<div class="l-messages-item">
				<div class="date">29 октября 2015</div>
				<h4>20 лет RiNet. Подарки всем!</h4>
				<div>В ноябре нашей компании исполняется 20 лет. В честь юбилея мы приготовили подарки всем абонентам. Подробности на нашем сайте: <a href="http://action.rinet.ru/" target="_msgHref409">http://action.rinet.ru/</a> </div>
			</div>
			</div>

{% endblock %}