{% extends "wrapper.html" %}
{% load staticfiles %}

{% block  content %}
<!-- HERE BE CONTENTS!!!! -->
<div class="content-col-left">
   <div class="g-block">
      <h3>Показать расходы и трафик</h3>
      <div class="form-show-traffic">
         <form action="/history/traf">
            <div class="name">
               За
            </div>
            <div class="value">
               <div class="mgn-select-wrap basic" id="form-show-traffic">
                  <div class="mgn-select-choosed">
                     {% now "F Y" %}
                     <span class="crutch">
                     {% now "Y-m" %}
                     </span>
                  </div>
                  <div class="mgn-select-list">
                     <div class="mgn-select-item active">{% now "F Y" %}
                        <span class="crutch">
                        {% now "Y-m" %}
                        </span>
                     </div>
                     {% for date in form_date %}
                            <div class="mgn-select-item">
                        		{{ date }}
                        		<span class="crutch">
                        			{{ date }}
                        		</span>
                     		</div>
					  	{% endfor %}
                  </div>
               </div>
            </div>
            <select id="imonth" name="month" hidden="">
            </select>
            <div class="btn">
               <input type="submit" class="g-btn btn-danger" value="Показать">
            </div>
         </form>
      </div>
   </div>
</div>
<!-- end g-block -->

{% endblock %}

